.sidebarAdmin {
    background-color: aliceblue;
    min-width: 200px;
    width: 200px;
    padding: 10px 10px 10px 20px;
    box-shadow: 7px 0px 5px -7px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #000000;
}

h2:hover {
    color: #673FD7;
    cursor: pointer;

}