.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  border: 3px solid black;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  color: white;
  user-select: contain;
  word-wrap: break-word;
}

.card:hover {
  border: purple solid 3px;
  transform: scale(1.1, 1.1);
  transform-origin: center;
  z-index: 1;
  transition: transform 0.3s;
}

.card > * {
    pointer-events: none;
}

.card > img {
  border: white solid 3px;
  border-radius: 50%;
  min-height: 40%;
  object-fit: cover;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.2rem;
}

.cardEmailHidden {
  display: none;
}

.cardEmailHovered {
  position:absolute;
  animation: fade-in 0.3s ease-in;
  display: block;
  border: 3px solid purple;
  border-radius: 20px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: #5643cc;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
