.background {
  background-image: url("https://media.istockphoto.com/id/1367515302/photo/anonymous-people-avatars-in-virtual-space.jpg?b=1&s=612x612&w=0&k=20&c=cL3CX2LPL83JD9_9Pj__iL7c2jBtauAiTEXIbZ9qWE8=");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 210px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.background h1 {
  font-size: 4rem;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: moveText 3s infinite;
  position: relative;
}

@keyframes moveText {
  0% {
    transform: translateY(-30px) scale(0.9);
    opacity: 0.5;
  }
  50% {
    transform: translateY(10px) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px) scale(0.9);
    opacity: 0.5;
  }
}
