@font-face {
    font-family: "Poppins-Regular";
    src: url("./fonts/Poppins/Poppins-Medium.ttf")
}

* {
    font-family: "Poppins-Regular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}