#content {
  display: flex;
  min-height: calc(100vh - 210px);
  /* add image
    background: url(); */
}

#candidatesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 5%;
  width: 100%;
}